{
  "sourceMaps": true,
  "retainLines": true,
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie >= 7"
          ],
          "node": "current"
        },
        "include": [
          "transform-es2015-arrow-functions",
          "transform-async-to-generator",
          "transform-es2015-spread"
        ]
      }
    ],
    [
      "react"
    ]
  ],
  "env": {
    "development": {
      "presets": [["env", {"modules": "commonjs"}]],
      "plugins": ["transform-class-properties"]
    }
  },
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "syntax-dynamic-import"
  ]
}
