h1 {
  padding: 20px;
  color: #1474DC;
}

.m-anchor {
  width: 200px;
  margin-left: 50px;

  a {
    text-decoration-line: none;
  }
}

.m-content {
  display: flex;
}

.m-example {
  flex: 1;
  min-width: 500px;
  max-width: 800px;
  margin-left: 10%;
  margin-right: 10%;

  div {
    height: 300px !important;
    border: 1px solid #d9d9d9;
  }
}
